@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Floats
	5.1 - Float Left
	5.2 - Float Right
6.0 - Utility
	6.1 - Colors

--------------------------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #559642;
	font: 400 18px/28px 'Montserrat', sans-serif;
	margin: 0;
}


/*------I forgot that Fox in the snow isn't a google font in making my design, so I replaced it with Sacramento.-----*/


/*--------------------------------------------------------------

1.0 - Typography

----------------------------------------------------------------
/*--------------1.1 - Headings--------------*/
#site-header h1, #about h1, #work h1, #contact h1, #lincoln-calling h1 {
	font-family: 'Sacramento';
	margin: 0;
}

#site-header h1 {
	font-size: 120px;
}

#site-header h1, #logo {
	color: #e6e7e8;
}

#about h1, #work h1, #contact h1, #lincoln-calling h1 {
	font-size: 70px;
	color: #002a41;
	padding-bottom: 70px;
}


/*--------------1.2 - Body Copy--------------*/
#about, #work, #contact, #lincoln-calling {
	padding: 190px 0;
}

#site-header + p {
	font-size: 24px;
	margin: -15px 0 0 250px;
	letter-spacing: 3px;
	padding-bottom: 110px;
}

#logo {
	font: 25px 'Sacramento';
}

/*--------------1.3 - Buttons--------------*/
#about header + p a {
	text-decoration: none;	
}

#about header + p a:hover {
	color: #002a41;
}

#contact p {
	text-transform: uppercase;
}

#contact p a {
	text-decoration: none;
	color: #e6e7e8;
	background-color: #002a41;
	padding: 20px 40px;
}

#contact p a:hover {
	color: #559642;
}

/*--------------1.4 - Forms--------------*/

#fieldset-left legend {
	display: none;
}

form {
	margin: 0 auto;
}

input, textarea {
	padding: 5px 10px 25px;
	margin: 10px 230px 45px;
	width: 563px;
}

textarea {
	padding: 5px 10px 150px;
}


label {
	margin-left: 227px;
}

label, input {
	display: block;
}






/*--------------------------------------------------------------

2.0 - Navigation Menus

----------------------------------------------------------------
/*--------------2.1 - Main--------------*/
nav {
	padding: 35px 0;
}

nav ul {
	text-align: right;
}

nav li {
	display: inline-block;
	padding-right: 32px;
	text-transform: uppercase;
}

nav li:last-child {
	padding-right: 0;
}

nav li a {
	text-decoration: none;
	color: #e6e7e8;
	font-size: 16px;
}

nav li a:hover {
	color: #559642;
}


/*--------------------------------------------------------------

3.0 - Content

----------------------------------------------------------------
/*--------------3.1 - Site Structure--------------*/

.wrapper {
	width: 1020px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

#about header + p, #lincoln-calling p {
	margin-bottom: 112px;
	padding-right: 420px;
} 

#work section:nth-of-type(2), #work section:nth-last-of-type(5), #contact p, input, textarea, .hoverParent:hover .hoverContent, #contact h1  {
	text-align: center;
}

#work section:first-of-type #work section:nth-of-type(2), #work section:nth-of-type(3) {
	margin-bottom: 100px;
}

.hoverParent {
	position: relative;
	top: 0; 
	left: 0;
	width: 295px;
	height: 295px;
	float: left;
	margin-right: 67px;
}

.hoverParent:last-child {
	margin-right: 0;
	float: right;
}

.hoverContent {
	display: none;
}

.hoverParent:hover .hoverContent {
	background-color: rgba(6, 6, 51, 0.5);
	color: #fff;
	padding-top: 130px;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#work section h2, #work section p {
	color: #fff;
}

#work section h2 {
	text-transform: uppercase;
}

#lincoln-calling img:first-child {
	margin-left: 70px;
}

#lincoln-calling img:last-child {
	margin-right: 70px;
}


/*--------------3.2 - Site Header--------------*/

#site-header {
	padding: 305px 0 52px;
} 

#logo {
	margin-top: 36px;
}

/*--------------3.3 - Site Footer--------------*/
footer ul {
	text-align: right;
	padding-bottom: 26px;
}

footer li:last-child {
	padding-right: 0;
}


/*--------------------------------------------------------------

4.0 - Media

---------------------------------------------------------------*/


footer ul {
	list-style: none;
	padding: 35px 0 26px;
}

footer li {
	padding-right: 30px;
}

footer ul span {
	display: none;
}

footer ul a, footer ul li {
	display: inline-block;
}

footer ul li a {
	width: 34px;
	height: 34px;
}

footer ul li:first-child a {
	background: url(../img/icon-instagram.png) no-repeat 0 0;
}

footer ul li:nth-child(2) a {
	background: url(../img/icon-twitter.png) no-repeat 0 0;
}

footer ul li:last-child a {
	background: url(../img/icon-fb.png) no-repeat 0 0;
}

footer ul li a:hover {
	background-position: 0 -34px;
}

/*--------------------------------------------------------------

5.0 - FLOATS

---------------------------------------------------------------*/
/*--------------5.1 Float Left--------------*/

.float {
	float: left;
}
/*--------------5.2 Float Right--------------*/
.float:last-child {
	float: right;
}

/*--------------------------------------------------------------
6.0 - Utility
-------------------------------------------------------------- */

/* 6.1	- Color */
.bg-blue {
	background-color: #002a41;
}

.bg-lght-gray {
	background-color: #e6e7e8;
}

